<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
    <link rel="icon" href="/favicon.png" type="image/png">
</head>
<!--TODO Utiliser ce fond f8f9fa-->
<body style="background: #f8f9fa;">
<nav class="navbar navbar-light bg-white w-100 shadow-sm">
    <div class="container">
        <div>
            <h1 class="fw-bold fs-5 m-0" style="font-variant: small-caps">Prévendia</h1>
            <span class="small">Vigilance diabète</span>
        </div>
        <a class="navbar-brand" href="#">
            <img src="/logo.svg" alt="MédiLabo Solutions" height="60">
        </a>
        <div class="navbar-text">
            <span sec:authentication="name"></span>
            <form th:action="@{/logout}" method="post" class="d-inline">
                <button type="submit" class="btn btn-link">Déconnexion</button>
            </form>
        </div>
    </div>
</nav>
<main class="container mt-5 p-3 shadow rounded bg-white">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="fs-3 mb-0">Patients</h2>
        <button class="btn btn-success btn-new-patient">
            Nouveau patient
        </button>
    </div>
    <table class="table table-striped table-hover m-0">
        <thead class="table-dark">
        <tr>
            <th sec:authorize="hasRole('DOCTOR')"></th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Date de naissance</th>
            <th>Sexe</th>
            <th>Adresse</th>
            <th>Téléphone</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patients}" th:data-patient-id="${patient.id}">
            <td sec:authorize="hasRole('DOCTOR')">
                <button class="btn btn-primary btn-sm btn-patient-notes">
                    Notes
                </button>
            </td>
            <td th:text="${patient.firstname}"></td>
            <td th:text="${patient.lastname}"></td>
            <td th:text="${patient.birthdate}"></td>
            <td th:text="${patient.sex}"></td>
            <td th:text="${patient.address}"></td>
            <td th:text="${patient.phone}"></td>
            <td class="text-center">
                <button class="btn btn-primary btn-sm btn-patient-update">
                    Modifier
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</main>

<!-- Conteneur de la modale dynamique -->
<div id="dynamicModalContainer"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/prevendia-modals.js"></script>
</body>
</html>
