<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion - Prévendia</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/prevendia.css">
    <link rel="icon" href="/favicon.png" type="image/png">
</head>
<body class="login-view">
<main class="login-container" th:classappend="${param.role == 'secretary'} ? 'secretary' : ''">
    <header class="title-container">
        <h1 class="title">Préven<span class="drop-accent">dia</span></h1>
    </header>

    <div th:if="${param.error}" class="alert alert-danger d-flex align-items-center" role="alert">
        <span class="icon bi bi-exclamation-triangle-fill me-2" aria-hidden="true"></span>
        <div>Identifiants incorrects</div>
    </div>

    <form th:action="@{/login}" th:object="${authRequest}" method="post" autocomplete="on">
        <div class="form-floating">
            <input type="text" class="form-control" id="username" th:field="*{username}" required
                   placeholder="Nom d'utilisateur" autocomplete="username">
            <label for="username">Nom d’utilisateur</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" th:field="*{password}" required
                   placeholder="Mot de passe" autocomplete="current-password">
            <label for="password">Mot de passe</label>
        </div>
        <button type="submit" class="btn btn-primary w-100 py-2 mt-3">
            <span class="icon bi bi-box-arrow-in-right me-2" aria-hidden="true"></span>Se connecter
        </button>
    </form>
</main>
</body>
</html>